# build
dist/
.astro/

# dependencies
node_modules/

# environment
.env
.env.production

# logs
npm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea/

# os
.DS_Store
Thumbs.db

# lighthouse
.lighthouseci/
.lighthouseci-site/
.chrome-lhci/
.claude/
